.app-nav {
  margin-left: 2rem;

  @media screen and (min-width: 748px) {
    margin-left: 3rem;
  }

  &__list li {
    display: inline-block;
    margin: 0 .5rem;
  }

  &__list a {
    color: #fff;
    font-size: 16px;
    margin: 0;
    text-decoration: none;

    @media screen and (min-width: 748px) {
      font-size: 22px;
      margin: 0 1rem;
    }
  }
}
