.app-movies__genres {

  .app-movies__categorys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .app-movies__genres-title {
    font-size: 26px;
    margin: 0 0 2rem;
  }

  .app-movies__genre {
    background-color: #fff;
    box-shadow:
      0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12);
    margin: 0 0 2rem;
    width: 32%;
    text-align: center;

    > a {
      color: #9C27B0;
      display: block;
      font-size: 22px;
      height: 100%;
      padding: 2rem;
      text-decoration: none;
      width: 100%;
    }

    > a:hover {
      background-color: #9C27B0;
      color: #fff;
    }
  }
}
