.app-movies {
  color: #212121;

  h2 {
    font-size: 18px;
    margin: 0 0 1rem;

    @media screen and (min-width: 748px) {
      font-size: 26px;
      margin: 0 0 2rem;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    background-color: #fff;
    box-shadow:
      0 3px 5px -1px rgba(0,0,0,.2),
      0 6px 10px 0 rgba(0,0,0,.14),
      0 1px 18px 0 rgba(0,0,0,.12);
    display: flex;
    margin: 0 0 1rem;
    width: 100%;
    padding: .5rem;

    @media screen and (min-width: 748px) {
      margin: 0 0 2rem;
      padding: 1rem;
      width: 48%;
    }
  }

  &__movie-image img {
    max-width: 100px;

    @media screen and (min-width: 748px) {
      max-width: 185px;
    }
  }

  &__card-movie-info {
    padding: 0 1rem;
  }

  &__movie-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 .75rem;

    @media screen and (min-width: 748px) {
      font-size: 22px;
    }
  }

  &__movie-vote-average {
    margin: 0 0 1rem;
  }

  &__movie-vote-average strong {
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 .75rem;
  }

  &__movie-vote-average .material-icons {
    vertical-align: bottom;
  }

  &__movie-overview {
    margin: 0 0 1rem;
  }

  &__movie-link {
    color: #212121;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .material-icons {
      vertical-align: middle;
    }
  }
}
